name: Auto Labeler
on:
  issues:
    types: [opened, edited]
jobs:
  autolabeler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
      - uses: stefanbuck/github-issue-parser@26aa569a236774fa15b73a965595c0a0ac8ccf41 # v3
        id: issue-parser
        with:
          template-path: .github/ISSUE_TEMPLATE/1-report-issue.yml
      - run: echo "ISSUE_LABELS=$(echo '${{ fromJSON(steps.issue-parser.outputs.jsonString).services }}' | tr '[:upper:]' '[:lower:]' | sed 's/"//g' | sed 's/ //g')" >> $GITHUB_ENV
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1
        with:
          app_id: ${{ secrets.JENKINS_INFRA_HELPDESK_APP_ID }}
          private_key: ${{ secrets.JENKINS_INFRA_HELPDESK_APP_PRIVATE_KEY }}
      - uses: andymckay/labeler@3a4296e9dcdf9576b0456050db78cfd34853f260 # master
        id: autolabeler
        with:
          repo-token: ${{ steps.generate_token.outputs.token }}
          add-labels: "${{ env.ISSUE_LABELS }}"
          remove-labels: "other"
